[Desktop Entry]
Version=1.0
Name=Deviant Core
Comment=Deviant P2P Cryptocurrency
Comment[fr]=DEV, monnaie virtuelle cryptographique pair à pair
Comment[tr]=DEV, eşten eşe kriptografik sanal para birimi
Exec=deviant-qt %u
Terminal=false
Type=Application
Icon=deviant128
MimeType=x-scheme-handler/deviant;
Categories=Office;Finance;
StartupWMClass=Deviant-qt
