[Desktop Entry]
Version=1.0
Name=fls Core
Comment=fls P2P Cryptocurrency
Comment[fr]=fls, monnaie virtuelle cryptographique pair à pair
Comment[tr]=fls, eşten eşe kriptografik sanal para birimi
Exec=fls-qt %u
Terminal=false
Type=Application
Icon=fls128
MimeType=x-scheme-handler/fls;
Categories=Office;Finance;
StartupWMClass=Fls-qt
