[Desktop Entry]
Version=1.0
Name=FLITS Core
Comment=FLITS P2P Cryptocurrency
Comment[fr]=FLS, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FLS, eşten eşe kriptografik sanal para birimi
Exec=fls-qt %u
Terminal=false
Type=Application
Icon=fls128
MimeType=x-scheme-handler/fls;
Categories=Office;Finance;
StartupWMClass=Fls-qt
