policy_module(deviant, 1.100.1)

########################################
#
# Declarations
#

type deviant_t;
type deviant_exec_t;
init_daemon_domain(deviant_t, deviant_exec_t)

permissive deviant_t;

type deviant_initrc_exec_t;
init_script_file(deviant_initrc_exec_t)

type deviant_conf_t;
files_type(deviant_conf_t)

type deviant_var_lib_t;
files_type(deviant_var_lib_t)

type deviant_var_run_t;
files_type(deviant_var_run_t)

type deviant_port_t;
corenet_port(deviant_port_t)

########################################
#
# deviant local policy
#
allow deviant_t self:process { fork };

allow deviant_t self:fifo_file rw_fifo_file_perms;
allow deviant_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(deviant_t, deviant_conf_t, deviant_conf_t)
manage_files_pattern(deviant_t, deviant_conf_t, deviant_conf_t)

manage_dirs_pattern(deviant_t, deviant_var_lib_t, deviant_var_lib_t)
manage_files_pattern(deviant_t, deviant_var_lib_t, deviant_var_lib_t)
files_var_lib_filetrans(deviant_t, deviant_var_lib_t, { dir file })

manage_dirs_pattern(deviant_t, deviant_var_run_t, deviant_var_run_t)
manage_files_pattern(deviant_t, deviant_var_run_t, deviant_var_run_t)

sysnet_dns_name_resolve(deviant_t)
corenet_all_recvfrom_unlabeled(deviant_t)

allow deviant_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(deviant_t)
corenet_tcp_sendrecv_generic_node(deviant_t)
corenet_tcp_sendrecv_all_ports(deviant_t)
corenet_tcp_bind_generic_node(deviant_t)

gen_require(`
    type deviant_port_t;
')
allow deviant_t deviant_port_t:tcp_socket name_bind;

gen_require(`
    type deviant_port_t;
')
allow deviant_t deviant_port_t:tcp_socket name_connect;

domain_use_interactive_fds(deviant_t)

files_read_etc_files(deviant_t)

miscfiles_read_localization(deviant_t)

sysnet_dns_name_resolve(deviant_t)

allow deviant_t deviant_exec_t:file execute_no_trans;
allow deviant_t self:process setsched;
corecmd_exec_ls(deviant_t)
corenet_tcp_connect_http_port(deviant_t)
dev_read_urand(deviant_t)
fs_getattr_xattr_fs(deviant_t)
kernel_read_system_state(deviant_t)
