
## <summary>policy for deviant</summary>


########################################
## <summary>
##	Transition to deviant.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`deviant_domtrans',`
	gen_require(`
		type deviant_t, deviant_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, deviant_exec_t, deviant_t)
')


########################################
## <summary>
##	Execute deviant server in the deviant domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`deviant_initrc_domtrans',`
	gen_require(`
		type deviant_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, deviant_initrc_exec_t)
')


########################################
## <summary>
##	Search deviant lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`deviant_search_lib',`
	gen_require(`
		type deviant_var_lib_t;
	')

	allow $1 deviant_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read deviant lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`deviant_read_lib_files',`
	gen_require(`
		type deviant_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, deviant_var_lib_t, deviant_var_lib_t)
')

########################################
## <summary>
##	Manage deviant lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`deviant_manage_lib_files',`
	gen_require(`
		type deviant_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, deviant_var_lib_t, deviant_var_lib_t)
')

########################################
## <summary>
##	Manage deviant lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`deviant_manage_lib_dirs',`
	gen_require(`
		type deviant_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, deviant_var_lib_t, deviant_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a deviant environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`deviant_admin',`
	gen_require(`
		type deviant_t;
		type deviant_initrc_exec_t;
		type deviant_var_lib_t;
	')

	allow $1 deviant_t:process { ptrace signal_perms };
	ps_process_pattern($1, deviant_t)

	deviant_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 deviant_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, deviant_var_lib_t)

')

