
## <summary>policy for rbx</summary>


########################################
## <summary>
##	Transition to rbx.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`rbx_domtrans',`
	gen_require(`
		type rbx_t, rbx_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, rbx_exec_t, rbx_t)
')


########################################
## <summary>
##	Execute rbx server in the rbx domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rbx_initrc_domtrans',`
	gen_require(`
		type rbx_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, rbx_initrc_exec_t)
')


########################################
## <summary>
##	Search rbx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rbx_search_lib',`
	gen_require(`
		type rbx_var_lib_t;
	')

	allow $1 rbx_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read rbx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rbx_read_lib_files',`
	gen_require(`
		type rbx_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, rbx_var_lib_t, rbx_var_lib_t)
')

########################################
## <summary>
##	Manage rbx lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rbx_manage_lib_files',`
	gen_require(`
		type rbx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, rbx_var_lib_t, rbx_var_lib_t)
')

########################################
## <summary>
##	Manage rbx lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`rbx_manage_lib_dirs',`
	gen_require(`
		type rbx_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, rbx_var_lib_t, rbx_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a rbx environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`rbx_admin',`
	gen_require(`
		type rbx_t;
		type rbx_initrc_exec_t;
		type rbx_var_lib_t;
	')

	allow $1 rbx_t:process { ptrace signal_perms };
	ps_process_pattern($1, rbx_t)

	rbx_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 rbx_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, rbx_var_lib_t)

')

