# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Rubus Core
Comment=Rubus Core QT main network
GenericName=Rubus Digital Currency QT client main network
Exec=rubus-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/rbx.png
MimeType=x-scheme-handler/rbx;
Categories=X-Office;X-Finance;
Keywords=internet;rbx;zrbx;rbx;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
